.option {
    width: 730px;
    margin: 0 auto;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 15px 0;

    &__list {
        display: flex;
        align-items: center;
        list-style-type: none;
        padding: 0;

        &__counter {
            background: #F2F4FE;
            border-radius: 10px;
            padding: 10px 18px;
            display: flex;
            justify-content: center;
            align-items: center;

            h5 {
                font-family: 'Jost';
                font-style: normal;
                font-weight: 700;
                font-size: 13px;
                line-height: 19px;
                /* identical to box height */

                text-align: center;
                letter-spacing: -0.180556px;

                color: #3A4374;
            }
        }

        &__title {
            margin-left: 40px;
            display: flex;
            justify-content: space-between;
            align-items: start;
            flex-direction: column;

            h5 {
                font-family: 'Jost';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 26px;
                /* identical to box height */

                letter-spacing: -0.25px;

                color: #3A4374;
            }

            p {
                font-family: 'Jost';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 23px;
                color: #647196;
                padding-top: 4px;
            }

            h6 {
                background: #F2F4FF;
                border-radius: 10px;
                font-family: 'Jost';
                font-style: normal;
                font-weight: 600;
                font-size: 13px;
                line-height: 19px;
                color: #4661E6;
                padding: 7px 15px;
            }
        }

        &__comment {
            margin-left: 90px;
            h4 {
                font-family: 'Jost';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 23px;
                text-align: center;
                letter-spacing: -0.222222px;
                color: #3A4374;

            }
        }
    }
}